body {
    font-family: 'Lato', sans-serif;
    background-color: #ddd;
}

/* navbar */
.navbar-brand img {
    border-radius: 50%;
    margin-right: 6px;
}

nav .form-inline {
    display: flex;
}

nav .form-inline input {
    flex: 1 1;
    margin-right: .5rem!important;
}

nav .form-inline button {
    flex: 0;
}

/* homepage */
body > .content {
    background-color: white;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.col-left, .col-right {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (min-width: 576px) {
    body > .content {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

/* carousel */
.carousel {
    margin: 0 -15px;
}

.carousel-caption h3, .carousel-caption p {
    text-shadow: 0 0 5px #000;
}

.carousel-caption {
    left: 0%;
    right: 0%;
    bottom: 0%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.4);
}

.carousel-item {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

/* sections */
.section.left {
    margin-top: 10px;
    margin-left: 15px;
}

.section.right {
    margin-top: 10px;
    font-size: 1rem;
}

.section.both {
    margin: 10px 15px;
}

.section .title {
    margin-bottom: 5px;
    color: #222;
    font-weight: 700;
    font-size: 1.2rem;
}

.section .title i {
    padding-right: 6px;
}

.section.right .title::before {
    content: '#';
    color: #3498db;
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 6px;
}

.section .content {
    color: #555;
    padding-left: 15px;
}

.section.left .content {
    padding: 15px 20px 0 27px;
}

.section.both .content {
    padding: 15px 27px 0 27px;
}

.section.right .content {
    padding-top: 15px;
    padding-right: 27px;
}

/* about section */
.about {
    /* text-align: justify; */
    /* text-justify: inter-word; */
    hyphens: auto;
}

.about .logo {
    float: right;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 20px;
}

.about .logo img {
    width: 100px;
    border-radius: 50%;
}

/* demo section */
.demo {
    padding: 15px;
}

.demo .col-sm-4 {
    padding: 0 15px 22px 15px!important;
}

.demo .card-body a {
    display: block;
    margin: 5px;
}

.demo .card-body a i {
    margin-right: 3px;
}

.demo .card-title .badge {
    font-size: 0.6em;
    display: inline-block;
    margin-left: 3px;
    transform: translateY(-3px);
}
.demo .card-title a {
  color: inherit;
}

.demo .card-text {
    font-size: 14px;
    height: 216px;
    overflow: hidden;
}

.demo .card-img-top {
    height: 180px;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.demo .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1200px) {
    .demo .card-body a {
        display: inline;
        margin: 0;
        margin-right: 2.8px!important;
    }
}

/* publications section */
.publications .content {
    padding-bottom: 1rem !important;
}

.publications .more {
    margin-left: 60px;
    font-size: 14px;
}

.publications ul, .news ul {
    margin-left: 60px;
    margin-bottom: 0px;
    list-style-type: none;
    padding-left: 0;
}

.publications ul li, .news ul li {
    padding-bottom: 10px;
}

.pubyear {
    float: left;
    margin-left: -60px;
    color: #bbb;
}

.pubauthor, .pubjournal, .pubsupp {
    font-size: 14px;
}

.pubauthor span:not(:first-child)::before {
    content: '/ ';
}

.pubjournal {
    font-style: italic;
}

.pubsupp a {
    margin-right: 5px;
    white-space: nowrap;
    display: block;
}

@media (min-width: 576px) {
    .pubtitle, .pubauthor, .pubjournal, .pubsupp {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .pubsupp a {
        display: inline;
    }
}

.pubsupp a i {
    margin-left: 2px;
    margin-right: 2px;
}

.pubsupp a::before {
    content: '[';
    color: #444;
    font-weight: 700;
}

.pubsupp a::after {
    content: ']';
    color: #444;
    font-weight: 700;
}

/* news section */
.news ul {
    margin-left: 0;
}

.news_date {
    color: #bbb;
}

/* members section */
.members .alert {
    margin-top: 0.5rem;
}

.member-card {
    float: left;
    padding-bottom: 15px;
    padding-right: 15px;
}

.member-card:not(.professor) {
    padding-right: 35px;
}

.member-card.professor {
    float: none;
}

.member-card .photo a {
    display: block;
    width: 100%;
    height: 100%;
}

.member-card.professor .photo {
    float: left;
    margin-right: 15px;
}
.member-card.professor .name {
    padding-bottom: 13px;
}

.members .separator {
    clear: both;
    height: 15px;
}

.member-card .photo {
    width: 148px;
    height: 192.4px;
    background-position: center center !important;
    background-size: cover !important;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.member-card .name {
    padding-top: 5px;
    font-weight: 700;
    text-shadow: 0 0 1px #bbb;
}
.member-card:not(.professor) .position {
    font-size: 14px;
}
.member-card .position, .member-card .affiliation {
    font-size: 14px;
}
.member-card .affiliation {
    font-style: italic;
}
.member-card:not(.professor) .name, .member-card:not(.professor) .position {
    width: 148px;
    text-align: center;
}

.members .more a {
    margin: 10px 0 10px 0;
}

@media (min-width: 1200px), (max-width: 576px)  {
    .member-card:not(.professor) {
        padding-right: 8px;
    }
}
/* footer */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
}
footer p {
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
    color: #888;
    font-size: 14px;
}

/* publication list page */
.publications-page {
    margin-top: 25px;
    padding-top: 25px; 
}

.publications-page .content .title {
    text-align: center;
    font-weight: 700;
}

.publications-page .content ul {
    padding: 0 20px 20px 20px;
}

.publications-page .content ul li {
    list-style-type: none !important;
}

.publications-page .content ul .pubyear {
    font-size: 1.2rem;
    font-weight: 700;
    color: #222;
    float: none !important;
    margin: 20px 0 5px 0 !important;
}

.publications-page .content ul li .pubimg {
    float: left;
    width: 260px !important;
    height: 130px !important;
    margin-right: 20px;
    background-position: center center !important;
    background-size: cover !important;
    border: 1px solid #ddd;
}

.publications-page .content ul li .pubtitle {
    margin-top: 22px;
}

/* people list page */
.people-page {
    margin-top: 25px;
    padding: 5px 15px 20px 15px;
    /* padding-top: 15px;  */
}

.people-page .content .title {
    margin: 20px 0 5px 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: #222;
}

/* publication single page */
.publication-content-main .title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
  margin: 20px;
}
.publication-content-main .subtitle {
  margin: 15px;
  font-size: 1.2rem;
  text-align: right;
  font-style: italic;
}
.publication-content-main .content {
  font-size: 15px;
  color: #555;
  line-height: 1.5em;
}
.publication-content-main .content h1,
.publication-content-main .content h2,
.publication-content-main .content h3,
.publication-content-main .content h4 {
  font-size: 1.5em;
  color: #222;
}
.publication-content-main .content pre {
  padding: 20px;
  background: #f3f3f3;
  color: #636363;
  line-height: 1.2em;
}
.publication-content-aside {
  font-size: 15px;
  color: #555;
  line-height: 1.5em;
}
.publication-content-aside img {
  margin-bottom: 10px;
}
.publication-content-aside .title {
  margin-bottom: .5rem;
  color: #222;
  font-weight: 700;
}
.publication-content-aside .title::before {
  content: '#';
  color: #3498db;
  font-size: 17px;
  display: inline-block;
  margin-right: 6px;
}
.publication-content-aside .content {
  padding-left: 16px;
}
.publication-content-aside a {
  color: #555;
  display: block;
}
.publication-content-aside a:hover {
  color: #3498db;
}
.publication-content-aside ul.list {
  list-style-type: none;
  padding: 0
}
.publication-content-aside ul.list li {
  padding: 5px 0;
  margin: 20px 0;
}
.content .statcounter-row {
  text-align: center;
  color: #555;
}
.content .statcounter {
  display: inline;
  margin-left: 5px;
}

/* ittvis-framework */
.ittvis-framework {
  padding: 15px;
}
.ittvis-framework .title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
  margin: 20px;
  margin-bottom: 40px;
}
.ittvis-framework .content {
  font-size: 16px;
  color: #555;
  line-height: 1.5em;
}
.ittvis-framework .content h1 {
  font-size: 1.5em;
  color: #222;
  border-bottom: 2px #343a40 solid;
}
.ittvis-framework .content pre {
  padding: 20px;
  background: #f3f3f3;
  color: #636363;
  line-height: 1.2em;
}
.ittvis-framework .section {
  margin-bottom: 30px;
}
.ittvis-framework .link,
.ittvis-framework .link a {
  color: #555;
  line-height: 1.2em;
  font-weight: bolder;
}
.ittvis-framework .link a:hover {
  color: #3498bd;
}
.ittvis-framework .link i {
  margin-right: 10px;
}
.ittvis-framework .content img {
  width: 100%;
  margin: 1rem 0;
}
.ittvis-framework .publication img,
.ittvis-framework .project img {
  width: calc(100% - 20px);
  margin-left: 20px;
}
.ittvis-framework .project p {
  margin-left: 20px;
  margin-bottom: 0px;
}
.ittvis-framework .project highlight{
  color: #3498bd;
}
.ittvis-framework .flag {
  margin-left: 5px;
  padding: 0 3px;
  background-color: #3498bd;
  color: white;
  border-radius: 4px;
}
.ittvis-framework .ittvis-team h2 {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 200px;
  margin: auto;
  border-radius: 50%;
  background-color: #444;
  color: #fff;
}
.ittvis-framework .ittvis-team .gallery {
  display: block;
  margin-bottom: 20px;
}
.ittvis-framework .ittvis-team .member-card {
  float: none;
  width: 90%;
  padding: 10px 0;
  margin: 0 auto;
}
.ittvis-framework .ittvis-team .member-card .container {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.ittvis-framework .ittvis-team .member-card .container .photo {
  display: inline-block;
  margin: auto;
}
.ittvis-framework .ittvis-team .member-card .container .desc {
  flex: 1;
  padding: 0 10px;
}
.ittvis-framework .ittvis-team .member-card .desc .name,
.ittvis-framework .ittvis-team .member-card .desc .position {
  text-align: left;
  width: auto;
}
.ittvis-framework .ittvis-team .member-card .tabletennispos {
  font-style: italic;
  font-size: 12px;
}
.ittvis-framework table,
.ittvis-framework table tr th,
.ittvis-framework table tr td {
  border:1px solid;
  padding: 5px;
}

.contact-info {
    padding-top: 10px;
    font-size: 1rem;
}

/* clear float */
.clearfix:before,
.clearfix:after {
   content:"";
   display:table;
}
.clearfix:after {
  clear:both;
  overflow:hidden;
}
.clearfix {
  zoom:1; /* IE < 8 */
}

